# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List commonly used Data Science libraries
- List popular languages used in Data Science
- List examples of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|-----|
|RStudio|
|Watson Studio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# this is a simple arithmetic expression to
# multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by 
# dividing by 60
200 / 60

3.3333333333333335

## Author
Thomas Davis